# Projet 06  
# Test de la communication en json avec l'API Rest

In [1]:
import requests
import numpy as np
import pandas as pd

In [2]:
mydf = pd.read_csv('soutenance_example.csv', index_col='id')
mydf

     diagonal  height_left  height_right  margin_low  margin_up  length
id
A_1    171.76       104.01        103.54        5.21       3.30  111.42
A_2    171.87       104.17        104.13        6.00       3.31  112.09
A_3    172.00       104.58        104.29        4.99       3.39  111.57
A_4    172.49       104.55        104.34        4.44       3.03  113.20
A_5    171.65       103.63        103.56        3.77       3.16  113.33

---
Prédiction brute

In [3]:
url = 'http://localhost:5000/billets/direct'
data = mydf.to_json()
headers = {'Content-type': 'application/json'}
result = requests.post(url, data=data, headers=headers)

In [4]:
result.json()

[{'id': 'A_1', 'proba_true': 0.00863863526527083, 'resultat': 0},
 {'id': 'A_2', 'proba_true': 0.0035976144626726006, 'resultat': 0},
 {'id': 'A_3', 'proba_true': 0.027330103976182834, 'resultat': 0},
 {'id': 'A_4', 'proba_true': 0.9429712142901465, 'resultat': 1},
 {'id': 'A_5', 'proba_true': 0.9958166655280695, 'resultat': 1}]

---
Prédiction ACP

In [5]:
url = 'http://localhost:5000/billets/acp'
data = mydf.to_json()
headers = {'Content-type': 'application/json'}
result = requests.post(url, data=data, headers=headers)

In [6]:
result.json()

[{'id': 'A_1', 'proba_true': 0.09333021391803425, 'resultat': 0},
 {'id': 'A_2', 'proba_true': 0.02322284665000017, 'resultat': 0},
 {'id': 'A_3', 'proba_true': 0.03464091956281343, 'resultat': 0},
 {'id': 'A_4', 'proba_true': 0.9614339262182908, 'resultat': 1},
 {'id': 'A_5', 'proba_true': 0.9825328925437419, 'resultat': 1}]

---
Prédiction croisée

In [7]:
url = 'http://localhost:5000/billets/cross'
data = mydf.to_json()
headers = {'Content-type': 'application/json'}
result = requests.post(url, data=data, headers=headers)

In [8]:
result.json()

[{'acp': 0.09333021391803425,
  'direct': 0.00863863526527083,
  'id': 'A_1',
  'resultat': 0},
 {'acp': 0.02322284665000017,
  'direct': 0.0035976144626726006,
  'id': 'A_2',
  'resultat': 0},
 {'acp': 0.03464091956281343,
  'direct': 0.027330103976182834,
  'id': 'A_3',
  'resultat': 0},
 {'acp': 0.9614339262182908,
  'direct': 0.9429712142901465,
  'id': 'A_4',
  'resultat': 1},
 {'acp': 0.9825328925437419,
  'direct': 0.9958166655280695,
  'id': 'A_5',
  'resultat': 1}]

---
Test de l'erreur dans le type d'analyse

In [9]:
url = 'http://localhost:5000/billets/crosh'
data = mydf.to_json()
headers = {'Content-type': 'application/json'}
result = requests.post(url, data=data, headers=headers)

In [10]:
result

In [11]:
result.text

'<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">\n<title>404 Not Found</title>\n<h1>Not Found</h1>\n<p>The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.</p>\n'